nav {
  margin-bottom: 2rem;
  height: 4rem;
  border: 0.1rem solid rgb(211, 54, 54);

  ul {
    height: 4rem;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    background: indianred;

    li {
      height: 4rem;
      margin: 0;
      text-decoration: none;
      padding: 0.8rem 0;
    }

    li > a {
      height: 4rem;
      margin: 0;
      text-decoration: none;
      padding: 0.8rem 2.5rem;
      color: whitesmoke;

      &.active {
        color: antiquewhite;
        font-weight: 600;
      }

      &:hover {
        background-color: rgb(207, 68, 68);
      }
    }
  }
}
