<div #authorFilters [formGroup]="authorFilterForm" class="filters">
  @let fn = authorFilterForm.controls['firstname']; @let ln = authorFilterForm.controls['lastname'];
  @let minY = authorFilterForm.controls['minBirthYear']; @let maxY =
  authorFilterForm.controls['maxBirthYear'];

  <div class="form-fields">
    <div class="form-group column">
      <label for="firstname">First name:</label>
      <input type="text" formControlName="firstname" />
      @if(fn.invalid && (fn.dirty || fn.touched)){
      <span class="error">First name not valid!</span>
      }
    </div>
    <div class="form-group column">
      <label for="lastname">Last name:</label>
      <input type="text" formControlName="lastname" />
      @if(ln.invalid && (ln.dirty || ln.touched)){
      <span class="error">Last name not valid!</span>
      }
    </div>
    <div class="form-group column">
      <label for="minBirthYear">Minimum birth year:</label>
      <input type="text" formControlName="minBirthYear" />
      @if(minY.invalid && (minY.dirty || minY.touched)){
      <span class="error">Minumum birth year not valid!</span>
      }
    </div>
    <div class="form-group column">
      <label for="maxBirthYear">Maximum birth year:</label>
      <input type="text" formControlName="maxBirthYear" />
      @if(maxY.invalid && (maxY.dirty || maxY.touched)){
      <span class="error">Maxumum birth year not valid!</span>
      }
    </div>
    <button (click)="submitForm()">Search</button>
  </div>
</div>
